 /* josifin font */
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

 *{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
 }


.login {
    display: flex;
    flex-direction: column;
    background: white;
    margin-top: 30px;
    padding: 20px;
    width: 539px;
    border-radius: 20px;
}

.login input {
    width: 100%;
    font-size: 15px;
    padding: 16px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
    background: #DEE1E6;
}
.signUP form h3 {
    font-size: 30px;
    text-align: center;
  color: #418FFF;
    margin-top: 25px;
    margin-bottom: 40px;
}

section#form_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    min-height: 82vh;
}

@media (max-width: 556px){
    .signUP .form_btn button {
        padding: 10px 50px;
        font-size: 20px;
        background: #4B86FF;
        color: white;
     
    }
    section#form_section .form_title h2{
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
        
    }
   
    .signUP .alert_div p {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}


    .signUP form h3{
        font-size: 25px;
    }
    .signUP {

        width: 310px;
    
    }
}