 /* josifin font */
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

 *{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
 }

 #form_section .form_title h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
 }
.login {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 20px;
    width: 450px;
    border-radius: 20px;
}
.form_title {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    width: 385px;
}
.login input {
    width: 100%;
    font-size: 15px;
    padding: 16px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
    background: #DEE1E6;
}

section#form_section {
    background:linear-gradient(360deg, rgb(82, 113, 255) 70%, #8aa7f4bf);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    min-height: 82vh;
}
.login_form .form_btn button {
    padding: 10px 124px;
    font-size: 20px;
    background: #39B5FF;
    color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: .2s;
}
.login_form .form_btn button:hover {
    background: white;
    border-color: #39B5FF;
    color: #39B5FF;
    transition: .2s;
}
.login_form .form_btn:last-child button{
    padding: 10px 20px;
}
hr{
    color: white !important;
    margin: 20px 0px !important;
    border-top: 2px solid !important;
    opacity: .5 !important;
}
.remember_box input {
    width: 15px;
    margin-bottom: 0 !important;
}
.login_form .alert_div{
    margin-bottom: 20px;
}
@media (max-width: 556px){
    
    section#form_section .form_title h2{
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
        
    }
   
}

